<div >
	<h2>Lista de Produtos</h2>
	<jhi-alert></jhi-alert>
	<br />

	<ul class="media-list">
		<li class="media"
			ng-repeat="produto in vm.produtos" ng-if="$index % 3 == 0">


			<div class="row">
				<div class="col-sm-6 col-md-4">

					<div class="thumbnail">
						<h3>{{vm.produtos[$index].nome}}</h3>
						<img ng-src={{vm.produtos[$index].imagem}}>
						<div class="caption">

							<h2>{{vm.produtos[$index].preco | currency}}</h2>
							<button type="submit"
                                   ng-click="vm.addToCart(vm.produtos[$index])"
                                   ui-sref="item-pedido" 
                                   class="btn btn-success">Adicionar
								no Carrinho</button>

						</div>
					</div>
				</div>
				<div ng-if="vm.produtos.length > ($index+1)" class="col-sm-6 col-md-4">

					<div class="thumbnail">
						<h3 >{{vm.produtos[$index+1].nome}}</h3>
						<img ng-src={{vm.produtos[$index+1].imagem}}>
						<div class="caption">

							<h2>{{vm.produtos[$index+1].preco | currency}}</h2>
							<button type="submit"
                                   ng-click="vm.addToCart(vm.produtos[$index+1])" 
                                   ui-sref="item-pedido"
                                   class="btn btn-success">Adicionar
								no Carrinho</button>

						</div>
					</div>
				</div>
				<div ng-if="vm.produtos.length > ($index+2)" class="col-sm-6 col-md-4">

					<div class="thumbnail">
						<h3>{{vm.produtos[$index+2].nome}}</h3>
						<img ng-src={{vm.produtos[$index+2].imagem}}>
						<div class="caption">

							<h2>{{vm.produtos[$index+2].preco | currency}}</h2>
							<button type="submit"
                                   ng-click="vm.addToCart(vm.produtos[$index+2])"
                                   ui-sref="item-pedido"
                                   class="btn btn-success">Adicionar
								no Carrinho</button>

						</div>
					</div>
				</div>
			</div>


		</li>
	</ul>

</div>
